@import '../theme.less';

@breakpoints_keys: 'xs', 'sm', 'md', 'lg', 'xl';

@breakpoints_values_xs: 0;
@breakpoints_values_sm: 600;
@breakpoints_values_md: 960;
@breakpoints_values_lg: 1280;
@breakpoints_values_xl: 1920;

/**
 * HiddenCss
 */
// xs
.Sui_HiddenCss_only-xs {
  @media
  (min-width:unit(@breakpoints_values_xs, px)) and
  (max-width:unit(((@breakpoints_values_xs - 5) / 100), px)) {
    display: none;
  }
}

.Sui_HiddenCss_xs-up {
  @media (min-width:unit(@breakpoints_values_xs, px)) {
    display: none;
  }
}

.Sui_HiddenCss_xs-down {
  @media (max-width:unit(((@breakpoints_values_xs - 5) / 100), px)) {
    display: none;
  }
}

// sm
.Sui_HiddenCss_only-sm {
  @media
  (min-width:unit(@breakpoints_values_sm, px)) and
  (max-width:unit(((@breakpoints_values_sm - 5) / 100), px)) {
    display: none;
  }
}

.Sui_HiddenCss_sm-up {
  @media (min-width:unit(@breakpoints_values_sm, px)) {
    display: none;
  }
}

.Sui_HiddenCss_sm-down {
  @media (max-width:unit(((@breakpoints_values_sm - 5) / 100), px)) {
    display: none;
  }
}

// md
.Sui_HiddenCss_only-md {
  @media
  (min-width:unit(@breakpoints_values_md, px)) and
  (max-width:unit(((@breakpoints_values_md - 5) / 100), px)) {
    display: none;
  }
}

.Sui_HiddenCss_md-up {
  @media (min-width:unit(@breakpoints_values_md, px)) {
    display: none;
  }
}

.Sui_HiddenCss_md-down {
  @media (max-width:unit(((@breakpoints_values_md - 5) / 100), px)) {
    display: none;
  }
}

// lg
.Sui_HiddenCss_only-lg {
  @media
  (min-width:unit(@breakpoints_values_lg, px)) and
  (max-width:unit(((@breakpoints_values_lg - 5) / 100), px)) {
    display: none;
  }
}

.Sui_HiddenCss_md-up {
  @media (min-width:unit(@breakpoints_values_lg, px)) {
    display: none;
  }
}

.Sui_HiddenCss_md-down {
  @media (max-width:unit(((@breakpoints_values_lg - 5) / 100), px)) {
    display: none;
  }
}

// xl
.Sui_HiddenCss_only-xl {
  @media (min-width:unit(@breakpoints_values_xl, px)) {
    display: none;
  }
}

.Sui_HiddenCss_md-up {
  @media (min-width:unit(@breakpoints_values_lg, px)) {
    display: none;
  }
}

.Sui_HiddenCss_md-down {
  @media (min-width:unit(@breakpoints_values_xs, px)) {
    display: none;
  }
}
