.Sui_Modal-root {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 1300;
  position: fixed;
}

.Sui_Modal-hidden {
  visibility: hidden;
}

.Sui_Backdrop-root {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  // Remove grey highlight
  -webkit-tap-highlight-color: transparent;
  will-change: opacity;
  background-color: rgba(0, 0, 0, 0.54);
  // transition: opacity 200ms ease-in-out;
  // opacity: 0.1;
}

.Sui_Backdrop-invisible {
  background-color: transparent;
}

.Sui_Backdrop-entered {
  opacity: 1;
}
