@import '../theme.less';

/**
 * Typography
 */
.Sui_Typography_root {
  display: block;
  margin: 0;
}

.Sui_Typography_display4 {
  .typography_display4();
}

.Sui_Typography_display3 {
  .typography_display3();
}

.Sui_Typography_display2 {
  .typography_display2();
}

.Sui_Typography_display1 {
  .typography_display1();
}

.Sui_Typography_headline {
  .typography_headline();
}

.Sui_Typography_title {
  .typography_title();
}

.Sui_Typography_subheading {
  .typography_subheading();
}

.Sui_Typography_body2 {
  .typography_body2();
}

.Sui_Typography_body1 {
  .typography_body1();
}

.Sui_Typography_caption {
  .typography_caption();
}

.Sui_Typography_button {
  .typography_button();
}

.Sui_Typography_align-left {
  text-align: left;
}

.Sui_Typography_align-center {
  text-align: center;
}
.Sui_Typography_align-right {
  text-align: right;
}

.Sui_Typography_align-justify {
  text-align: justify;
}

.Sui_Typography_no-wrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Sui_Typography_gutter-bottom {
  margin-bottom: 0.35em;
}

.Sui_Typography_paragraph {
  margin-bottom: (@spacing_unit * 2);
}

.Sui_Typography_color-inherit {
  color: inherit;
}

.Sui_Typography_color-primary {
  color: @palette_primary_main;
}

.Sui_Typography_color-secondary {
  color: @palette_secondary_main,
}

.Sui_Typography_color-text-secondary {
  color: @palette_text_secondary;
}

.Sui_Typography_color-error {
  color: @palette_error_main;
}
