@import '../theme.less';

/**
 * some list
 */
// breakpointKeys = ['xs', 'sm', 'md', 'lg', 'xl']
// GUTTERS = [0, 8, 16, 24, 40]
// GRID_SIZES = [true, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

/**
 * Grid
 */
.Sui_Grid_type-container {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.Sui_Grid_type-item {
  box-sizing: border-box;
  flex: 0 0 auto;
  margin: 0; // For instance, its useful when used with a `figure` element.
}

.Sui_Grid_zero-min-width {
  min-width: 0;
}

.Sui_Grid_direction-xs-column {
  flex-direction: column;
}

.Sui_Grid_direction-xs-column-reverse {
  flex-direction: column-reverse;
}

.Sui_Grid_direction-xs-row-reverse {
  flex-direction: row-reverse;
}

.Sui_Grid_wrap-xs-nowrap {
  flex-wrap: nowrap;
}

.Sui_Grid_wrap-xs-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.Sui_Grid_align-items-xs-center {
  align-items: center;
}

.Sui_Grid_align-items-xs-flex-start {
  align-items: flex-start;
}

.Sui_Grid_align-items-xs-flex-end {
  align-items: flex-end;
}

.Sui_Grid_align-items-xs-baseline {
  align-items: baseline;
}

.Sui_Grid_align-content-xs-center {
  align-content: center;
}

.Sui_Grid_align-content-xs-flex-start {
  align-content: flex-start;
}

.Sui_Grid_align-content-xs-flex-end {
  align-content: flex-end;
}

.Sui_Grid_align-content-xs-space-between {
  align-content: space-between;
}

.Sui_Grid_align-content-xs-space-around {
  align-content: space-around;
}

.Sui_Grid_justify-xs-center {
  justify-content: center;
}

.Sui_Grid_justify-xs-flex-end {
  justify-content: flex-end;
}

.Sui_Grid_justify-xs-space-between {
  justify-content: space-between;
}

.Sui_Grid_justify-xs-space-around {
  justify-content: space-around;
}

.Sui_Grid_spacing-xs-8 {
  margin: (-8px / 2);
  width: calc(~'100% + 8px');
  & > .Sui_Grid_type-item {
    padding: (8px / 2),
  }
}
.Sui_Grid_spacing-xs-16 {
  margin: (-16px / 2);
  width: calc(~'100% + 16px');
  & > .Sui_Grid_type-item {
    padding: (16px / 2),
  }
}
.Sui_Grid_spacing-xs-24 {
  margin: (-24px / 2);
  width: calc(~'100% + 24px');
  & > .Sui_Grid_type-item {
    padding: (24px / 2),
  }
}
.Sui_Grid_spacing-xs-40 {
  margin: (-40px / 2);
  width: calc(~'100% + 40px');
  & > .Sui_Grid_type-item {
    padding: (40px / 2),
  }
}

// No need for a media query for the first size.
.Sui_Grid_grid-xs {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
// Sui_Grid_grid-xs-{size} function
.Sui_Grid_grid-xs-loop(@n) {
  flex-basis: (round(@n / 12% * pow(10, 6)) / pow(10, 4));
  flex-grow: 1;
  max-width: (round(@n / 12% * pow(10, 6)) / pow(10, 4));
}
.Sui_Grid_grid-xs-1 {
  .Sui_Grid_grid-xs-loop(1);
}
.Sui_Grid_grid-xs-2 {
  .Sui_Grid_grid-xs-loop(2);
}
.Sui_Grid_grid-xs-3 {
  .Sui_Grid_grid-xs-loop(3);
}
.Sui_Grid_grid-xs-4 {
  .Sui_Grid_grid-xs-loop(4);
}
.Sui_Grid_grid-xs-5 {
  .Sui_Grid_grid-xs-loop(5);
}
.Sui_Grid_grid-xs-6 {
  .Sui_Grid_grid-xs-loop(6);
}
.Sui_Grid_grid-xs-7 {
  .Sui_Grid_grid-xs-loop(7);
}
.Sui_Grid_grid-xs-8 {
  .Sui_Grid_grid-xs-loop(8);
}
.Sui_Grid_grid-xs-9 {
  .Sui_Grid_grid-xs-loop(9);
}
.Sui_Grid_grid-xs-10 {
  .Sui_Grid_grid-xs-loop(10);
}
.Sui_Grid_grid-xs-11 {
  .Sui_Grid_grid-xs-loop(11);
}
.Sui_Grid_grid-xs-12 {
  .Sui_Grid_grid-xs-loop(12);
}

.Sui_Grid_grid-sm {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
// Sui_Grid_grid-sm-{size} function
.Sui_Grid_grid-sm-loop(@n) {
  .Sui_Grid_grid-xs-loop(@n);
}
@media (min-width:@breakpoints_values_sm) {
  .Sui_Grid_grid-sm-1 {
    .Sui_Grid_grid-sm-loop(1);
  }
  .Sui_Grid_grid-sm-2 {
    .Sui_Grid_grid-sm-loop(2);
  }
  .Sui_Grid_grid-sm-3 {
    .Sui_Grid_grid-sm-loop(3);
  }
  .Sui_Grid_grid-sm-4 {
    .Sui_Grid_grid-sm-loop(4);
  }
  .Sui_Grid_grid-sm-5 {
    .Sui_Grid_grid-sm-loop(5);
  }
  .Sui_Grid_grid-sm-6 {
    .Sui_Grid_grid-sm-loop(6);
  }
  .Sui_Grid_grid-sm-7 {
    .Sui_Grid_grid-sm-loop(7);
  }
  .Sui_Grid_grid-sm-8 {
    .Sui_Grid_grid-sm-loop(8);
  }
  .Sui_Grid_grid-sm-9 {
    .Sui_Grid_grid-sm-loop(9);
  }
  .Sui_Grid_grid-sm-10 {
    .Sui_Grid_grid-sm-loop(10);
  }
  .Sui_Grid_grid-sm-11 {
    .Sui_Grid_grid-sm-loop(11);
  }
  .Sui_Grid_grid-sm-12 {
    .Sui_Grid_grid-sm-loop(12);
  }
}

.Sui_Grid_grid-md {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
// Sui_Grid_grid-md-{size} function
.Sui_Grid_grid-md-loop(@n) {
  .Sui_Grid_grid-xs-loop(@n);
}
@media (min-width:@breakpoints_values_md) {
  .Sui_Grid_grid-md-1 {
    .Sui_Grid_grid-md-loop(1);
  }
  .Sui_Grid_grid-md-2 {
    .Sui_Grid_grid-md-loop(2);
  }
  .Sui_Grid_grid-md-3 {
    .Sui_Grid_grid-md-loop(3);
  }
  .Sui_Grid_grid-md-4 {
    .Sui_Grid_grid-md-loop(4);
  }
  .Sui_Grid_grid-md-5 {
    .Sui_Grid_grid-md-loop(5);
  }
  .Sui_Grid_grid-md-6 {
    .Sui_Grid_grid-md-loop(6);
  }
  .Sui_Grid_grid-md-7 {
    .Sui_Grid_grid-md-loop(7);
  }
  .Sui_Grid_grid-md-8 {
    .Sui_Grid_grid-md-loop(8);
  }
  .Sui_Grid_grid-md-9 {
    .Sui_Grid_grid-md-loop(9);
  }
  .Sui_Grid_grid-md-10 {
    .Sui_Grid_grid-md-loop(10);
  }
  .Sui_Grid_grid-md-11 {
    .Sui_Grid_grid-md-loop(11);
  }
  .Sui_Grid_grid-md-12 {
    .Sui_Grid_grid-md-loop(12);
  }
}

.Sui_Grid_grid-lg {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
// Sui_Grid_grid-lg-{size} function
.Sui_Grid_grid-lg-loop(@n) {
  .Sui_Grid_grid-xs-loop(@n);
}
@media (min-width:@breakpoints_values_lg) {
  .Sui_Grid_grid-lg-1 {
    .Sui_Grid_grid-lg-loop(1);
  }
  .Sui_Grid_grid-lg-2 {
    .Sui_Grid_grid-lg-loop(2);
  }
  .Sui_Grid_grid-lg-3 {
    .Sui_Grid_grid-lg-loop(3);
  }
  .Sui_Grid_grid-lg-4 {
    .Sui_Grid_grid-lg-loop(4);
  }
  .Sui_Grid_grid-lg-5 {
    .Sui_Grid_grid-lg-loop(5);
  }
  .Sui_Grid_grid-lg-6 {
    .Sui_Grid_grid-lg-loop(6);
  }
  .Sui_Grid_grid-lg-7 {
    .Sui_Grid_grid-lg-loop(7);
  }
  .Sui_Grid_grid-lg-8 {
    .Sui_Grid_grid-lg-loop(8);
  }
  .Sui_Grid_grid-lg-9 {
    .Sui_Grid_grid-lg-loop(9);
  }
  .Sui_Grid_grid-lg-10 {
    .Sui_Grid_grid-lg-loop(10);
  }
  .Sui_Grid_grid-lg-11 {
    .Sui_Grid_grid-lg-loop(11);
  }
  .Sui_Grid_grid-lg-12 {
    .Sui_Grid_grid-lg-loop(12);
  }
}

.Sui_Grid_grid-xl {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
// Sui_Grid_grid-xl-{size} function
.Sui_Grid_grid-xl-loop(@n) {
  .Sui_Grid_grid-xs-loop(@n);
}
@media (min-width:@breakpoints_values_xl) {
  .Sui_Grid_grid-xl-1 {
    .Sui_Grid_grid-xl-loop(1);
  }
  .Sui_Grid_grid-xl-2 {
    .Sui_Grid_grid-xl-loop(2);
  }
  .Sui_Grid_grid-xl-3 {
    .Sui_Grid_grid-xl-loop(3);
  }
  .Sui_Grid_grid-xl-4 {
    .Sui_Grid_grid-xl-loop(4);
  }
  .Sui_Grid_grid-xl-5 {
    .Sui_Grid_grid-xl-loop(5);
  }
  .Sui_Grid_grid-xl-6 {
    .Sui_Grid_grid-xl-loop(6);
  }
  .Sui_Grid_grid-xl-7 {
    .Sui_Grid_grid-xl-loop(7);
  }
  .Sui_Grid_grid-xl-8 {
    .Sui_Grid_grid-xl-loop(8);
  }
  .Sui_Grid_grid-xl-9 {
    .Sui_Grid_grid-xl-loop(9);
  }
  .Sui_Grid_grid-xl-10 {
    .Sui_Grid_grid-xl-loop(10);
  }
  .Sui_Grid_grid-xl-11 {
    .Sui_Grid_grid-xl-loop(11);
  }
  .Sui_Grid_grid-xl-12 {
    .Sui_Grid_grid-xl-loop(12);
  }
}
