@import '../theme.less';

/**
 * Icon
 */
.Sui_Icon_root {
  user-select: none;
}

.Sui_Icon_color-primary {
  color: @palette_primary_main;
}

.Sui_Icon_color-secondary {
  color: @palette_secondary_main;
}

.Sui_Icon_color-action {
  color: @palette_action_active;
}

.Sui_Icon_color-disabled {
  color: @palette_action_disabled;
}

.Sui_Icon_color-error {
  color: @palette_error_main;
}
