* {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif, "Microsoft Yahei";
}
html, body {
  margin: 0;
  padding: 0;
}

.page {
  padding: 16px;
}

sup {
  color: #999;
}
sup>a {
  color: #999;
  text-decoration: none;
}
sup>a {
  padding: 0 4px;
}
sup>a:hover {
  text-decoration: underline;
}

.page>header {
  width: 100%;
}

.logo {
  line-height: 32px;
  font-size: 32px;
  text-align: center;
}

.page>.title {
  margin: 24px 0;
  line-height: 24px;
  font-size: 24px;
}

section>.title {
  margin: 20px 0 10px 0;
  line-height: 20px;
  font-size: 20px;
  color: #333;
}
section>.subtitle {
  margin: 10px 0;
  line-height: 16px;
  font-size: 16px;
  color: #666;
}
section>.content {
  padding: 16px;
  background: #f5f5f5;
}

.remark {
  margin: 6px 0;
  font-size: 12px;
  color: #666;
}
