@import '../theme.less';

/**
 * Button
 */
.Sui_Button_root {
  line-height: 1.4em; // Improve readability for multiline button.
  box-sizing: border-box;
  min-width: 88px;
  min-height: 36px;
  padding: @spacing_unit @spacing_unit * 2;
  border-radius: 0;
  color: @palette_text_primary;
  transition: @transitions_backgroundColor, @transitions_boxShadow;

  &:hover {
    text-decoration: none;
    // Reset on mouse devices
    background-color: fade(@palette_text_primary, 12%);
    @media (hover: none) {
      background-color: transparent;
    }
    &.Sui_Button_disabled {
      background-color: transparent;
    }
  }
}

.Sui_Button_dense {
  padding: (@spacing_unit - 1) @spacing_unit;
  min-width: 64px;
  min-height: 32px;
  // font-size
  .typography_fontSize_pxToRem(@typography_fontSize - 1);
}

.Sui_Button_label {
  width: 100%;
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
}

.Sui_Button_flat-primary {
  color: @palette_primary_main;
  &:hover {
    background-color: fade(@palette_primary_main, 12%);
    // Reset on mouse devices
    @media (hover: none) {
      backgroundColor: transparent;
    }
  }
}

.Sui_Button_flat-secondary {
  color: @palette_secondary_main;
  &:hover {
    background-color: fade(@palette_secondary_main, 12%);
    // Reset on mouse devices
    @media (hover: none) {
      background-color: transparent;
    }
  }
}

.Sui_Button_color-inherit {
  color: inherit
}

.Sui_Button_raised {
  color: @palette_text_primary; // ? theme.palette.getContrastText(theme.palette.grey[300])
  background-color: @palette_grey_300;
  // box-shadow
  .shadows_2();
  &.Sui_Button_keyboard-focused {
    // box-shadow
    .shadows_6();
  }
  &:active {
    // box-shadow
    .shadows_8();
  }
  &.Sui_Button_disabled {
    // box-shadow
    .shadows_0();
    background-color: @palette_action_disabledBackground;
  }
  &:hover {
    background-color: @palette_grey_A100;
    // Reset on mouse devices
    @media (hover: none) {
      backgroundColor: @palette_grey_300;
    }
    &.Sui_Button_disabled {
      background-color: @palette_action_disabledBackground;
    }
  }
}

.Sui_Button_keyboard-focused {}

.Sui_Button_raised-primary {
  color: @palette_primary_contrastText;
  background-color: @palette_primary_main;
  &:hover {
    background-color: @palette_primary_dark;
    // Reset on mouse devices
    @media (hover: none) {
      backgroundColor: @palette_primary_main;
    }
  }
}

.Sui_Button_raised-secondary {
  color: @palette_secondary_contrastText;
  background-color: @palette_secondary_main;
  &:hover {
    background-color: @palette_secondary_dark;
    // Reset on mouse devices
    @media (hover: none) {
      background-color: @palette_secondary_main;
    }
  }
}

.Sui_Button_disabled {
  color: @palette_action_disabled;
}

.Sui_Button_fab {
  border-radius: 50%;
  padding: 0;
  min-width: 0;
  width: 56px;
  height: 56px;

  // box-shadow
  .shadows_6();

  &:active {
    // box-shadow
    .shadows_12();
  }
}

.Sui_Button_mini {
  width: 40px;
  height: 40px;
}

.Sui_Button_full-width {
  width: 100%;
}
